.app-modal {
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

.credit-inputs {
	margin-bottom: 20px;
}

.app-container {
	text-align: center;
    margin-top: 10%;
}

.dsc-title{
  	font-size: 23px;
    color: blue;
    font-style: initial;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
